section.myProjects{
    background-color: var(--background);
    color: var(--foreground);
}
.projects{
    /* display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 4rem;
}
.project{
   width: 35%;
   height: 40%;
   margin-bottom: 3rem;
   box-shadow: var(--box-shadow);
   border-radius: 5px;
   background-color: #fff;
   color: #040121;
   padding: 1.5rem 1.5rem 1rem 1.5rem;
}
.project:hover{
    transform: scale(3);
}
.project img{
    width: 100%;
    height: 20rem;
    border-radius: 5px 5px 0 0;

}
.project h4{
    font-size: 2rem;
    text-align: center;
    margin: 7px 0;
    border-top: 4px solid #040121;
    border-radius: 10px;
}
p.project-info{
    font-size: 1.7rem;
}
a.btn{
    text-decoration: none;
    font-size: 1.7rem;
    padding: 2px 3px;
    border-radius: 3px;
    margin-right: 5px;
    color: #fff;
}
a.btn{
    background-color: var(--color-secondary);
}
a.btn-code{
    background-color: #03021b;
}
.progress{
    background-color: purple;
    color: #fff;
    border: none;
    outline: none;
    margin-right: 5px;
    border-radius: 3px;
    padding: 2px 3px;
    font-size: 1.7rem;
    
}
@media screen and (max-width: 1400px) and (min-width: 1291px){
    .project{
        height: 43%;
    }
}

@media screen and (max-width: 1290px) and (min-width: 801px){
    .projects{
        display: flex;
        flex-direction: column;
        margin: 0 4rem;
    
        }
        .project{
            width: 100%;
            height: 50%;
            transition: all .5s;
        }
        .project img{
            height: 40%;
        }
      
        .project h4{
            font-size: 2.7rem;
            margin: 5px 0;
        }
        p.project-info{
            font-size: 2.5rem;
        }
        a.btn{
            font-size: 2.4rem;
            padding: 3px;
            border-radius: 3px;
        }
        .progress{
            font-size: 2.4rem;
            padding: 3px;
            border-radius: 3px;
        }
}
@media screen and (min-width: 1919px) {
    .project{
        width: 36%;
        height: 50%;
        margin-bottom: 3rem;
        box-shadow: var(--box-shadow);
        border-radius: 5px;
        background-color: #fff;
        color: #040121;
        padding: 1.5rem;
     }
 
    .project h4{
        font-size: 2.8rem;
    }
    p.project-info{
        font-size: 2.2rem;
    }
    a.btn{
        font-size: 2.5rem;
    }
    .progress{
        font-size: 2.5rem;
    }


}

@media screen and (max-width: 800px) {
    .projects{
    display: flex;
    flex-direction: column;
    margin: 0 4rem;

    }
    .project{
        width: 100%;
        height: 50%;
        transition: all .5s;
    }
    .project img{
        height: 40%;
    }
  
    .project h4{
        font-size: 1.6rem;
        margin: 5px 0;
    }
    p.project-info{
        font-size: 1.4rem;
    }
    a.btn{
        font-size: 1.4rem;
        padding: 3px;
    }
    .progress{
        font-size: 1.4rem;
        padding: 3px;

    }
}