section.education{
    background-color: var(--background);
    color: var(--foreground);
    padding-bottom: 1.3rem;
    width: 100%;
    padding-top: 1rem;

}
.education-info{
    display: flex;
    justify-content: space-around;
    width: 100%;
 
}
.myEducation >*{
    margin-bottom: 1.5rem;
    width: 100%;
    margin-left: 3rem;
}
.education-pic{
    margin-top: 6rem;
    margin-right: 3.5rem;
    width: 30%;
}
h2.course{
    font-size: 2.3rem;
    display: flex;
    align-items: center;
    color: var(--color-secondary);
}
h2.course >*{
    margin: 0 3px;
}
h3.institution{
    font-weight: normal;
    font-size: 2.1rem;
    display: flex;
    align-items: center;
}
h3.institution >*{
    margin: 0 3px;
}
h4.period{
    font-weight: normal;
    font-size: 1.8rem;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}
h4.period >*{
    margin: 0 3px;
}
.education-details p{
    width: 70%;
    font-size: 1.7rem;
}
@media screen and (max-width:800px) {
    h2.course{
    font-size: 1.2rem;
    text-align: center;
    justify-content: center;

    }
    h3.institution{
        font-weight: normal;
        font-size: 1.3rem;
        text-align: center;
    justify-content: center;

    }
    h4.period{
        font-weight: normal;
        font-size: 1.3rem;
        text-align: center;
    justify-content: center;

    }
    .education-details p{
        font-size: 1.4rem;
        width: 100%;
        text-align: center;

    }
    .education-pic{
        display: none;
    }
    .myEducation >*{
        margin-left: 0;
    }
    
}

@media screen and (min-width:1900px) {
    h2.course{
        font-size: 2.3rem;
        }
        h3.institution{
            font-size: 2.1rem;
        }
        h4.period{
            font-size: 2rem;    
        }
        .education-details p{
            font-size: 1.9rem;
    
        }

}
@media screen and (min-width:1250px ) and (max-width:1400px){
    .education-pic{
        margin-right: 4.6rem;
    }
}


@media screen and (max-width:1250px ) and (min-width:800px){
    h2.course{
        font-size: 1.7rem;
        text-align: center;
        justify-content: center;
    
        }
        h3.institution{
            font-weight: normal;
            font-size: 1.5rem;
            text-align: center;
        justify-content: center;
    
        }
        h4.period{
            font-weight: normal;
            font-size: 1.5rem;
            text-align: center;
        justify-content: center;
    
        }
        .education-details p{
            font-size: 1.6rem;
            width: 100%;
            text-align: center;
    
        }
    .education-pic{
        display: none;
    }
    .myEducation >*{
        margin-left: 0;
    }

}