.myHeader{
    display: flex;
    color: var(--foreground);
    background-color: var(--background);
    margin-top: 13rem;
    justify-content: center;
    align-items: center;
 
}
.theme-container{
    width: 3.3rem;
    height: 3.5rem;
    box-shadow: var(--box-shadow);
    background-color: var(--foreground);
    border-radius: 5px;
    z-index: 0;
    position: absolute;
    right: 4rem;
    top: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.myHeadings{
    font-size: 2.5rem;
    margin-bottom: 2rem;
    position: relative;
}
.myHeadings::after{
    content: "";
    width: 8rem;
    height: 4px;
    border-radius: 10px;
    background-color: var(--foreground);
    position: absolute;
    left: 0;
    bottom: 0;
}
.about{
    margin-right: 5%;
    width: 60%;
}
.erick{
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    border: 2px solid var(--foreground);
}
.about .name{
    font-size: 2.4rem;
    margin-bottom: 1.2rem;
}
.name span{
    color: var(--color-secondary);
}
.info{
    font-size: 2.1rem;
}
.links{
    margin-top: 2rem;
    display: flex;
    
}
.link{
    margin-right: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link span{
    margin-left: 5px;
}
.links a {
    color: var(--foreground);
    text-decoration: none;
    font-size: 1.9rem;
}
.floating-icon{
    background-color: var(--color-secondary);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 8%;
    transform: translatex(-10%);
    cursor: pointer;
}
.floating-icon a{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.mouse{
    transform: translateY(-25%);
    animation: bounce 0.8s ease infinite alternate;
}
@keyframes bounce {
    0%{transform: translateY(-25%);}
    100%{transform: translateY(25%);}
}
@media screen and (min-width: 651px) and (max-width: 950px){
    .about{
        max-width: fit-content;
    }
    .erick{
        width: 25rem;
        height: 25rem;
    }
    .floating-icon{
        bottom: 35%;
    }
    
}
@media screen and (min-width: 1919px) {
    .myHeader{
        margin-top: 15rem;
    }
    .myHeadings{
        font-size: 5rem;
        margin-bottom: 2rem;
        position: relative;
    }
    .myHeadings::after{
        width: 9rem;
    }
    .erick{
        width: 37rem;
        height: 37rem;
        border-radius: 50%;
        border: 2px solid var(--foreground);
    }
    .about .name{
        font-size: 2.7rem;
        margin-bottom: 1.2rem;
    }
    .name span{
        color: var(--color-secondary);
    }
    .info{
        font-size: 2.4rem;
    }
    .link{
        margin-right: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .links a {
        color: var(--foreground);
        text-decoration: none;
        font-size: 2.3rem;
    }
    .floating-icon{
        width: 7rem;
        height: 7rem;
    }
    .floating-icon a{
        width: 7rem;
        height: 7rem;
    }

}

@media screen and (max-width: 650px) {
    .myHeader{
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        margin-left: 1rem;
    }
    .theme-container{
    position: absolute;
    right: 3rem;
    top: 10rem;

    }
    .about{
        width: 100%;
        text-align: center;
        margin-bottom: 3rem;
    }
    .about .myHeadings{
        width: 30%;
        text-align: left;
    }
    .myHeadings{
        font-size: 1.8rem;
        width: 100%;
    }
    .myHeadings-about{
        font-size: 1.4rem;
    }
    .erick{
        width: 25rem;
        height: 25rem;
    }
    .myHeadings::after{
        width: 20%;
        top: 2.3rem;
        bottom: 0;
        /* left: 3%; */
    }
    .myHeadings-about::after{
        width: 50%;
        top: 1.7rem;
    }
    .about .name{
        text-align: left;
        font-size: 2rem;
        font-weight: 500;
    }
    .info-about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info{
        font-size: 1.7rem;
        /* text-align: center; */

    }
    .links{
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        margin-top: 1.2rem;
    }
    .link:first-child{
        margin-left: 6%;
    }
    .links a{
        font-size: 1.5rem;
    }
    .link span{
        display: block;
        font-size: 1.2rem;
    }
    .erick{
        width: 30rem;
        height: 30rem;
    }
    .floating-icon{
        position: inherit;
        bottom: 4%;
    }
    .floating-icon{
        width: 4rem;
        height: 4rem;
    }
    .floating-icon a{
        width: 4rem;
        height: 4rem;
    }
    .mouse{
        transform: translateY(-25%);
        animation: bounce 0.8s ease infinite alternate;
    }
    
}