footer.footer{
    background-color: var(--foreground);
    color: var(--background);
    height: 10vh;
}
.footer div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.footer p{
    font-size: 2rem;
}
@media screen and (max-width: 800px) {
    .footer p{
        font-size: 1.6rem;
    }
    
}