footer.footer{
    background-color: var(--foreground);
    color: var(--background);
    height: 10vh;
}
.footer div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.footer p{
    font-size: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer p >*{
    margin: 0 4px;
}
.footer p a{
    color: var(--color-secondary);
    text-decoration: none;

}
@media screen and (min-width: 500px) and (max-width: 1000px) {
    .footer p{
        font-size: 1.6rem;
    }
    
}
@media screen and (max-width: 450px) {
    .footer p{
        font-size: 1.35rem;
    }
    .footer span{
        display: none;
    }
    
}
@media screen and (min-width: 1900px) {
    .footer p{
        font-size: 3rem;
    }

}
