.main{
  overflow: hidden;

}
.header{
  background-color: var(--background);
}
.top{
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background-color: transparent;
  padding: 1rem;
  outline: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 111;
  transition: all .3s;

}
@media screen and (max-width: 600px) {
  .top{
    bottom: 6rem;
    right: 1px;
  
  }

}

@media screen and (min-width: 600px) {
  .header{
    height: 100vh;
  }
  
}
@media screen and (min-width: 901px) and (max-width:1000px) {
  .header{
    height: 70vh;
  }
}