@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: "Poppins", sans-serif;
  --box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  --color-secondary: orangered;
  --background: #fff;
  --foreground: #03021b;
}
[data-theme="dark"]{
  
  --color-secondary: orangered;
  --foreground: #03021b;
  --background: #fff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

html {
  font-size: 10px;
}

body {
  font-family: var(--font-family);
  transition: all .5s;

}

section {
  width: 100%;
  padding: 8rem 0;
}

.container {
  /* max-width: 1000px; */
  margin: 0 auto;
  padding: 0 30px;
}

.myHeadings{
    font-size: 3rem;
    margin-bottom: 2rem;
    position: relative;
}
.myHeadings::after{
  content: "";
    width: 8rem;
    height: 4px;
    border-radius: 10px;
    background-color: var(--foreground);
    position: absolute;
    left: 0;
    bottom: -4px;
}
/* UTILITY CLASSES */

.vertical-timeline::before {
  border-left: 4px solid orangered; /* Change the color to your desired color */
}
.vertical-timeline::after {
  border-left: 4px solid orangered; /* Change the color to your desired color */
}
.vertical-timeline-element::after {
  background-color: #D434FE; /* Change the color of the circles between connecting lines */
}
.iconss{
  background-color: #03021b;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.date{
  font-size: 1.2rem;
  font-weight: 800;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.eduText{
font-size: 40rem;
}